<nav class="light-blue lighten-1">
    <div class="nav-wrapper">
        <div class="container">
            <a href="{{ site.baseurl }}/" class="brand-logo">
                Robber Barons Project
            </a>
        </div>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            {% for person in site.posts %}
                <li{% if person.permalink == page.permalink %} class="active"{% endif %}>
                    <a href="{{ person.url | prepend: site.baseurl }}">
                        {{ person.fname }} {{ person.lname }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>
